name: PR Tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  qc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: prefix-dev/setup-pixi@v0.9.4
      - run: |
          pixi run ruff format --check --diff
      - run: |
          pixi run ruff check
      - run: |
          pixi run pyrefly check
